.container {
    margin-top: 30px;
}

label, .btn {
    font-size: 1.2em;
}

.error {
    color: red;
    margin-top: 20px;
}

.correcto {
    color: green;
    margin-top: 20px;
}

input.ng-valid.ng-touched {
    border: 1px solid green;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn {
    margin-top: 50px;
}

input:focus, input.form-control:focus, textarea:focus, textarea.form-control:focus, select:focus, select.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}