/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

* {
    font-family: 'Inconsolata', monospace;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
