.container {
    margin-top: 30px;
}

h1 {
    margin-bottom: 40px;
}

.formulario {
    border-right: 1px solid tomato;
    padding-right: 60px;
}

.edit {
    margin-left: 40px;
}

.error {
    color: red;
}

.correcto {
    color: green;
    font-size: 1em;
    margin-top: 20px;
}

label, .btn {
    font-size: 1.2em;
}

input.ng-valid.ng-touched {
    border: 1px solid green;
}

textarea.ng-valid.ng-touched {
    border: 1px solid green;
}

select.ng-valid.ng-touched {
    border: 1px solid green;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

.btn:disabled {
    cursor: not-allowed;
}

.tit-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btn-post {
    margin-top: 50px;
}

.btn-edit {
    width: 50% !important;
}

.btn-danger {
    color: white;
}

.card {
    width: 200px;
    margin: 20px 0px;
}

.card-body {
    position: relative
}

.borrar {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
}

.posts {
    display: flex;
    justify-content: space-between;
}

.card-title {
    margin-top: 20px;
  }

input:focus, input.form-control:focus, textarea:focus, textarea.form-control:focus, select:focus, select.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}