.container {
    margin-top: 30px;
}

.error {
    color: red;
}

.correcto {
    color: green;
    font-size: 1em;
    margin-top: 20px;
}

label, .btn {
    font-size: 1.2em;
}

input.ng-valid.ng-touched {
    border: 1px solid green;
}

textarea.ng-valid.ng-touched {
    border: 1px solid green;
}

select.ng-valid.ng-touched {
    border: 1px solid green;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn {
    margin-top: 50px;
}

input:focus, input.form-control:focus, textarea:focus, textarea.form-control:focus, select:focus, select.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

/* INICIO EL BOTÓN DE SUBMIT */

:root{
    --green: #1ECD97;
    --gray: #bbbbbb;
}

button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid green;
  color:green;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: green;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"SAVE POST";
  }
}
.onclic {
  width: 40px;
  border-color: gray;
  border-width: 3px;
  font-size: 0;
  border-left-color:green;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:green;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: green;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}